.searchstudent {
  background-color: #85c3fa;
  width: 1200px;
  height: 800px;
  margin: 0 auto;
  position: relative;
}
li {
  list-style: none;
}
.searchtop {
  position: relative;
  height: 100px;
  width: 100%;
  /* background-color: blue; */
  top: 0;
  background-image: url(https://renjirui.oss-cn-beijing.aliyuncs.com/%E6%9B%B4%E6%94%B92.png);
    background-size: 1200px 100px;
}
.yun {
  width: 60px;
  height: 60px;
}
.system {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: left;
  /* background-color: brown; */
}
.symbol{
  height: 100%;
  width:10% ;
  background-image: url(https://renjirui.oss-cn-beijing.aliyuncs.com/yun.png);
  /* background-color: aliceblue; */
}
/* .symbol .img{
  height: 100%;
  width: 100%;
} */
.system li {
  position: relative;
  font-size: 25px;
  font-weight: bold;
  color: white;
  line-height: 60px;
  letter-spacing: 2px;
}
.search-system {
  height: 50%;
  width: 100%;
  /* background-color: aliceblue; */
  display: flex;
}
.search-system-item {
  /* background-color: aquamarine; */
  width: 120px;
  height: 100%;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: -10px;
}
.search-system-item:active p,
.search-system-item.active p {
  color: #0066ff;
}
.search-system-item:active {
  background-color: white;
  color: #0066ff;
}
.search-system-item.active {
  background-color: white;
  color: #0066ff;
}
.search-system-item p {
  color: #ffff;
  font-size: 18px;
}
.search-img {
  height: 10px;
  width: 9px;
  /* background-color: aliceblue; */
  left: 3%;
  top: 13%;
  position: relative;
  background-image: url(https://zhaofei-123.oss-cn-beijing.aliyuncs.com/搜索.png);
  background-size: cover;
  background-position: center;
}
.department{
  width: 85%;
  height: 220px;
  /* background-color: violet; */
  display: flex;
  justify-content: space-between;
  margin-left: 50%;
  transform: translate(-50%,0);
  margin-top: 5%;
  padding-left: 20px;
  padding-right: 20px;
}
.dirction{
  width: 28%;
  height: 60%;
  margin-top: 15px;
  background-color:#3685f9;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.dirction-top{
  height: 55%;
  width: 100%;
  text-align: center;
  margin-top: 8px;
  font-size: 50px;
  text-shadow:0 0 5px #000000;
  font-weight: 700;
  color: white;
}
.dirction a{
  text-decoration: none;
}
.dirction-bottom{
  height: 30%;
  width: 50%;
  margin-left: 50%;
  font-size: 15px;
  transform: translate(-50%,0);
  text-align: center;
  color: white;
  margin-top: 20px;
}
.total{
height: 50px;
width: 50%;
margin-left: 50%;
font-weight:900;
text-align: center;
font-size: 60px;
color: black;
font-weight: 500;
transform: translate(-50%,0);

}
