*{
    margin: 0 auto;
}
body{
    height: 100vh;
}
.background{
    position: relative;
    width: 1200px;
    height: 870px;
    margin: 0 auto;
    /* 插入背景图片 */
    background-image: url(https://typora--first.oss-cn-huhehaote.aliyuncs.com/%E6%9B%B4%E6%94%B92.png); 
    /* 调整图片尺寸 */
    background-size: 1200px 930px;
}
.title{
    /* 调整标题盒子大小，使之居中 */
    position: relative;
    width: 800px;
    height: 60px;
    top: 100px;
    margin: 0 auto;
    /* 调整文字大小与粗细 */
    font-size: 50px;
    font-weight: 800;
    /* 调整文字左右间距 */
    letter-spacing: 30px;
    /* 文字外边框--白色 */
    -webkit-text-stroke: 0.5px white;
}
.left{
    display:none ;
    position: relative;
    top: 370px;
    left: 80px;
    width: 65px;
    height: 65px;
    background-image: url(https://typora--first.oss-cn-huhehaote.aliyuncs.com/%E7%AE%AD%E5%A4%B4-%E9%BB%91.png);
    background-size: 100% 100%;
}
.right{
    display: block;
    position: relative;
    top: 370px;
    left: 1050px;
    width: 65px;
    height: 65px;
    background-image: url(https://typora--first.oss-cn-huhehaote.aliyuncs.com/%E7%AE%AD%E5%A4%B4-%E9%BB%91%20-%20%E5%90%91%E5%8F%B3.png);
    background-size: 100% 100%;
}
.stu_adm{
    /* flex布局放置左右两个主体部分 */
    display: flex;
    position: relative;
    width: 700px;
    height: 400px;
    bottom:600px ;
    margin: 0 auto;
    /* flex布局样式 */
    justify-content: space-between;
    perspective: 200px;
}
.main_adm{
    position: absolute;
    width: 240px;
    height: 400px;
    background-color: white;
    /* 圆角边框 */
    border-radius: 20px;
    /* 边框阴影效果 */
    box-shadow: 2px 2px 10px ;
    margin-top: -200px;
    left: 50%;
    top: 50%;
    margin-left: -150px;
}
.main_stu{
    position: absolute;
    width: 240px;
    height: 400px;
    background-color: white;
    /* 圆角边框 */
    border-radius: 20px;
    /* 边框阴影效果 */
    box-shadow: 2px 2px 10px ;
    margin-top: -150px;
    top: 50%;
    right: -30px;
    transform: translate3d(100px,-50px,-50px);
    perspective: 200px;
}

.icon_adm{
    position: relative;
    left: 50px;
    top: 90px;
    width: 150px;
    height: 150px;
    /* 插入管理员图片 */
    background-image: url(https://typora--first.oss-cn-huhehaote.aliyuncs.com/%E7%AE%A1%E7%90%86%E5%91%98.png);
    /* 调整图片尺寸 */
    background-size: 150px 150px;
}
.icon_stu{
    display: block;
    position: relative;
    left: 50px;
    top: 90px;
    width: 150px;
    height: 150px;
    /* 插入学生图片 */
    background-image: url(https://typora--first.oss-cn-huhehaote.aliyuncs.com/%E5%AD%A6%E7%94%9F.png);
    /* 调整图片尺寸 */
    background-size: 150px 150px;
    transform: translateZ(-50px);
}
.text_adm{
    position: relative;
    top: 140px;
    width: 250px;
    height: 60px;
    /* 文字水平居中 */
    text-align: center;
    /* 文字垂直居中 */
    line-height: 60px;
    /* 文字尺寸 */
    font-size: 23px;
}
.text_stu{
    position: relative;
    top: 140px;
    width: 250px;
    height: 60px;
    /* 文字水平居中 */
    text-align: center;
    /* 文字垂直居中 */
    line-height: 60px;
    /* 文字尺寸 */
    font-size: 23px;
}