.searchstudent {
    background-color: #85c3fa;
    width: 1200px;
    height: 800px;
    margin: 0 auto;
    position: relative;
}

li {
    list-style: none;
}

.searchtop {
    position: relative;
    height: 100px;
    width: 100%;
    /* background-color: blue; */
    top: 0;
    background-image: url(https://zhaofei-123.oss-cn-beijing.aliyuncs.com/5O0m6QkrY3.jpg);
}
.yun{
    width: 60px;
    height: 60px;
}

.system {
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: left;
    /* background-color: brown; */
}

.symbol {
    height: 100%;
    width: 10%;
    background-image: url(https://renjirui.oss-cn-beijing.aliyuncs.com/yun.png);
    /* background-color: aliceblue; */
}

/* .symbol .img{
  height: 100%;
  width: 100%;
} */
.system li {
    position: relative;
    font-size: 25px;
    font-weight: bold;
    color: white;
    line-height: 60px;
    letter-spacing: 2px;
}

.search-system {
    height: 50%;
    width: 100%;
    /* background-color: aliceblue; */
    display: flex;
}

.search-system-item {
    /* background-color: aquamarine; */
    width: 120px;
    height: 100%;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: -10px;
}

.search-system-item:active p,
.search-system-item.active p {
    color: #0066ff;
}

.search-system-item:active {
    background-color: white;
    color: #0066ff;
}

.search-system-item.active {
    background-color: white;
    color: #0066ff;
}

.search-system-item p {
    color: #ffff;
    font-size: 20px;
}

.search-img {
    height: 10px;
    width: 9px;
    /* background-color: aliceblue; */
    left: 3%;
    top: 13%;
    position: relative;
    background-image: url(https://zhaofei-123.oss-cn-beijing.aliyuncs.com/搜索.png);
    background-size: cover;
    background-position: center;
}
input{
    display: block;
    float: left;
    width: 60%;
    height: 80%;
    color: gray;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-width: thin;
    outline-style: none;
    transform: translate(0,10%);
    /* margin-left: 50%;
    transform: translate(-50%,0); */

}
.show{
    /* float: right; */
    position: absolute;
    height: 40px;
    width: 40px;
    font-size:7px ;
    color: rgb(35, 35, 35);
    margin-top: 7px;
    margin-left: -50px;
    z-index: 100;
    cursor: pointer;
}
button{
    margin-left: 50%;
    height: 70px;
    width: 200px;
    transform: translate(-50%,0);
    margin-top: 20px;
    font-size: 30px;
}
#aaa::-ms-reveal{
    display: none;
}
.a{
    text-align: center;
    font-size: 20px;
    height: 100%;
    width: 10%;
    float: left;
    margin-left: 10%;
    line-height: 50px;
}
.b{
    height: 50%;
    width: 100%;
    margin-top: 30px;
    margin-left: 10px;
    font-weight: bolder;

}
