 * {
     padding: 0;
     margin: 0;
 }
 li{
   list-style: none;

 }
 html,body{
    width: 100%;
    height: 100%;
 }

 .background {
     height: 800px;
     width: 1200px;
     position: relative;
     left: 50%;
     transform: translate(-50%,0);
    
 }
 /*头部开始*/
 .top{
   position: relative;
   height: 80px;
      width: 100%;
    /* background-image: url("https://typora----magic.oss-cn-beijing.aliyuncs.com/5fa4f658dd714f7f8d9032e1baf54463ad1fc0a823e05c-35silt_fw1200webp.png"); */
    text-align: center;
    font-size: 10px;
    color: black;
 }
 .title {
   position: absolute;  
   padding-left: 10px;
   height: 80px;
   width: 21%;
   font-size: 25px;
   font-weight: bold;
   line-height: 80px;
   color: white;
   text-align: left;
   z-index: 120;
 

 }
 .top img{
    height: 80px;
    width: 100%;
 }
 /* 头部结束 */

 /* 搜索和返回开始 */
 .button{
   height:40px;
   width: 100%;
   margin-top: 20px;

 }
.iconfont{
   padding-left: 30px;
}
.button a{
   display: inline-block;
   text-decoration: none;
   margin-left: -20px;
   
   
}
.search{
   height: 40px;
   width: 200px;
   float: right;
   margin-right: 60px;
   border-radius: 20px;
   background-color: white;
   box-shadow: 0 0px 1000px rgba(0, 0, 0, 0.5);
}
.search img{
   display: block;
   height: 40px;
   width: 35px;
   margin-left: 20px;
   background-color: white;
   
   border-top-left-radius: 20px;
   border-bottom-left-radius: 20px;
}
.recall{
   height: 40px;
   width: 200px;
   position: relative;
   outline: none;
   left: 40px;
   top:-40px;
   border-width: 0px;
   border-top-right-radius: 20px;
   border-bottom-right-radius: 20px;
   
}
.btn{
   height: 40px;
   width: 25px;
   background-color: white;

   border-top-left-radius: 20px;
   border-bottom-left-radius: 20px;
}

/* 搜索和返回结束 */

/* 密码重置区域开始*/

.information{
   height: 75%;
   width: 95%;
   background-color: white;
   position: absolute;
   left: 50%;
   transform: translate(-50%,0);
   display: flex;
   justify-content: space-between;
   box-shadow: -1px 0px 10px rgba(0, 0, 0, 0.3);
   overflow:scroll;
   overflow-x: hidden;
   margin-top: 20px;
}

.name{
   height: 100%;
   width: 30%;

}
.password {
   height: 100%;
   width: 30%;

}
.restore {
   height: 100%;
   width: 30%;

}
.photo{
   height: 30px;
   width:30px;
   border-radius: 50%;
   display: inline-block;
   background-color: slategray;
}
li span{
   display: block;
   text-align: center;
   height: 30px;
   line-height: 30px;
   margin-left: 10px;
   font-size: 15px;
   
}
.name li{
   display: flex;
   justify-content: left;
   height: 30px;
   margin-left: 10px;
   margin-top: 30px;
}
.password li{
   height: 30px;
   margin-top: 30px;
   margin-left: 40px;
   line-height: 30px;
   text-align: center;
   font-size: 15px;
}
.restore li button{
   background-color:royalblue;
   height:30px;
   width: 100px;
   margin-right: 20px;
   text-align: center;
   font-size: 15px;
   color: white;
   border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;
   border-top-right-radius: 5px;
   border-bottom-right-radius:5px ;
}
.restore li{
   margin-top: 30px;
   display: flex;
   height: 30px;
   justify-content: right;

}

.prompt{
   height: 200px;
   width: 400px;
   position: absolute;
   left:50%;
   transform: translate(-50%,0);
   top: 300px;
   z-index: 1000;
   background-color: white;
   box-shadow:0px 0px 1000px rgba(0, 0, 0,0.3);
   display: none;
}
.tip{
   height: 120px;
   width: 250px;
   margin-top: 25px;
   margin-left: 50%;
   transform: translate(-50%,0);
   font-size: 20px;
   text-align: center;
   background-color: white;
}

.btn2{
   width: 100%;
   height: 30px;
   display: flex;
   justify-content: space-around;
   background-color: white;

}
.btn2 button{
   background-color: white;
   width: 80px;
   height: 40px;
   font-size: 25px;
   border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
   box-shadow: 0,0,100px rgba(0, 0, 0, 0.3);
}
/* 密码重置区域结束 */