*{
    margin: 0 auto;
}
.background{
    width: 1200px;
    height: 850px;
    margin: 0 auto;
    background-color: hwb(214 62% 5%);
}
.back{
    position: relative;
    top: 80px;
    left: 130px;
    width: 70px;
    height: 70px;
    background-image: url(https://typora--first.oss-cn-huhehaote.aliyuncs.com/%E7%AE%AD%E5%A4%B4-%E9%BB%91.png);
    background-size: 100% 100%;
}
.text{
    /* 调整标题文字盒子大小，使之居中 */
    position: relative;
    top: 50px;
    width: 532px;
    height: 50px;
    margin: 0 auto;
    /* 标题文字大小与粗细 */
    font-size: 40px;
    font-weight: 600;
    /* 标题文字左右间距 */
    letter-spacing: 30px;
    
}
form{
    /* 使表单部分居于页面中央 */
    position: relative;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    top: 180px;
}
#account,#password{
    width: 500px;
    height: 50px;
    /* 边框样式--无 */
    border-style: none;
    /* 圆角边框 */
    border-radius: 10px;
    /* 边框阴影效果 */
    box-shadow: 0px 2px 6px gray;
}
#number{
    width: 250px;
    height: 50px;
    /* 边框样式同上 */
    border-style: none;
    border-radius: 10px;
    box-shadow: 0px 2px 6px gray;
}
#ok{
    width: 200px;
    height: 70px;
    position: relative;
    left: 150px;
    /* 边框样式同上 */
    border-style: none;
    border-radius: 10px;
    box-shadow: 0px 2px 6px gray;
    /* 文字大小与粗细 */
    font-size: 26px;
    font-weight: 700;
    
}